@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-me {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background-image: url("../animations/about_me.jpg");
    background-size: 112%;
    background-position: -27px 15px;
    background-color: #725E97;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.8s, background-position 0.4s ease;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    animation: fade-up 1s;
}

.about-me:hover {
    background-size: 117%;
    background-position: -37px 15px;
    border: 4px solid #80fefe;
}

.about-me:hover h1{
    transform: scale(1.1);
    color: #80fefe; /* or try #66fcf1 or #a0fefe */
}

h1 {
    transition: transform 0.4s ease-in-out, color 0.8s;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.5rem;
    color: white;
    margin-right: auto;
}

.about-me:hover video{
    transform: scale(1.077);
}

.card-wrapper {
  display: flex;
  width: 30%;
  text-decoration: none;
}

@media (max-width: 768px)  {
    .card-wrapper {
        display: block;
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
    }
    
}

@media (max-width: 480px) {
    .about-me {
        height: 500px;
        background-size: 112%;  /*Fix this*/
        background-position: -20px 40px;
    }

    .about-me h1 {
        font-size: 3.7rem;
    }

    .about-me:hover {
        background-size: 117%;
        background-position: -28px 50px;
        border: 4px solid #80fefe;
    }
}