@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-me {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background-image: url("../animations/about_me.jpg");
    background-repeat: no-repeat;
    background-color: #725E97;
    background-size: contain;
    background-position: center bottom;
    transition: transform 0.4s ease, color 0.4s;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    animation: fade-up 1s;
}

.about-me:hover {
  border: 4px solid #80fefe;
  transform: scale(1.02);
}

.about-me:hover h1{
    transform: scale(1.02);
    color: #80fefe;
}

h1 {
    transition: transform 0.4s ease, color 0.4s;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.5rem;
    color: white;
    margin-right: auto;
}

@media (max-width: 480px) {
    .about-me {
        height: 500px;
    }

    .about-me h1 {
        font-size: 3.7rem;
    }
}

/*Tablets*/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .about-me {
        height: 500px;
    }

    .about-me h1 {
        font-size: 3.7rem;
    }
}