@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-me {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    font-family: 'Anta';
    background-image: linear-gradient( rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url('../backgrounds/about_me_background.jpg');
    background-size: contain;
}

.about-me:hover h1{
    transform: scale(1.2);
}

h1 {
    transition: transform 0.4s;
    margin-left: 4rem;
    font-size: 4.5rem;
    color: white;
}

video {
    transition: transform 0.4s;
    margin-left: 5rem;
    width: 450;
    height: 450px;
}

.about-me:hover video{
    transform: scale(1.2);
}