@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-me {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background-image: url("../backgrounds/about_me_background.jpg");
    background-size: 325.5%;
    background-position: 30%;
    transition: background-size 0.4s ease, color 0.8s;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    animation: fade-up 1s;
}

.about-me:hover {
    background-size: 337%;
    border: 4px solid #80fefe;
}

.about-me:hover h1{
    transform: scale(1.1);
    color: #80fefe; /* or try #66fcf1 or #a0fefe */
}

h1 {
    transition: transform 0.4s ease-in-out, color 0.8s;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.5rem;
    color: white;
    margin-right: auto;
}

video {
    transition: transform 0.4s;
    margin-left: 2.5rem;
    width: 500;
    height: 500px;

    margin-top: 5rem;
}

.about-me:hover video{
    transform: scale(1.077);
}

.card-wrapper {
  display: flex;
  width: 30%;
  text-decoration: none;
}

@media (max-width: 768px)  {
    .card-wrapper {
        display: block;
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
    }
    
}

@media (max-width: 480px) {
    .about-me {
        height: 500px;
        background-size: 350%;
    }

    .about-me h1 {
        font-size: 3.7rem;
    }

    video {
        height: 300px;
        margin-left: 1.2rem;
        margin-top: 7rem;
    }

    .about-me:hover video{
        transform: none;
    }

    .about-me:hover {
        background-size: 350%;
        border: 4px solid #80fefe;
    }
}