@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.academics {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background: linear-gradient(rgb(100,0,220),rgb(255,0,150));
    transition: background-size 0.4s ease;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    transition: color 0.8s;
    animation: fade-up 1s;
}

.academics:hover {
    border: 4px solid #80fefe;
}

.academics:hover h1{
    transform: scale(1.1);
    color: #80fefe; /* or try #66fcf1 or #a0fefe */
}

.academics h1 {
    transition: transform 0.4s ease-in-out, color 0.8s;
    text-align: center;
    font-size: 4.5rem;
    color: white;
}

.academics video {
    transition: transform 0.4s;
    margin-right: 5.5rem;
    width: 500px;
    height: 500px;
    margin-top: 1rem;
}

.academics:hover video{
    transform: scale(1.077);
}

.card-wrapper {
  display: flex;
  width: 30%;
  text-decoration: none;
}