@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.academics {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background-image: url("../animations/academic_projects.png");
    background-repeat: no-repeat;
    background-color: #917ba2;
    background-size: 90%;
    background-position: 22px 210px;
    transition: background-size 0.4s ease, color 0.8s, background-position 0.4s ease;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    animation: fade-up 1s;
}

.academics:hover {
    border: 4px solid #80fefe;
    background-size: 95%;
    background-position:  15px 210px;
}

.academics:hover h1{
    transform: scale(1.1);
    color: #80fefe; /* or try #66fcf1 or #a0fefe */
}

h1 {
    transition: transform 0.4s ease-in-out, color 0.8s;
    text-align: center;
    font-size: 4.5rem;
    color: white;
}

.card-wrapper {
  display: flex;
  width: 30%;
  text-decoration: none;
}

@media (max-width: 768px)  {
    .card-wrapper {
        display: block;
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
    }   
}

@media (max-width: 480px) {
    .academics {
        height: 500px;
        background-size: 90%;
        background-position: 20px 190px;
    }

    .academics h1 {
        font-size: 3.7rem;
    }

    .academics:hover {
        background-size: 95%;
        background-position: 10px 190px;
        border: 4px solid #80fefe;
    }
}

/*Phones Landscape view*/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .academics {
        height: 500px;
        background-size: 60%; 
        background-position: 140px 90px;
    }

    .academics h1 {
        font-size: 3.7rem;
    }

    .academics:hover {
        background-size:65%;
        background-position: 125px 90px;
        border: 4px solid #80fefe;
    }
}