@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projects {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background-image: url("../animations/projects-2.gif");
    background-size: 140%;
    background-position: 47% 150%;
    background-repeat: no-repeat;
    background-color: #824DA6;
    transition: background-size 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    animation: fade-up 1s;
}

.projects:hover {
    background-size: 144%;
    border: 4px solid #80fefe;
}

.projects:hover h1{
    transform: scale(1.1);
    color: #80fefe; /* or try #66fcf1 or #a0fefe */
}

.projects h1 {
    transition: transform 0.4s ease-in-out, color 0.8s;
    text-align: center;
    font-size: 4.5rem;
    color: white;
}

.card-wrapper {
  display: flex;
  width: 30%;
  text-decoration: none;
}