@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projects {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background-image: url("../animations/club_projects.png");
    background-size: 130%;
    background-position: -58px 100px;
    background-repeat: no-repeat;
    background-color: #8A6B77;
    transition: background-size 0.4s ease, color 0.8s, background-position 0.4s ease;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    animation: fade-up 1s;
}

.projects:hover {
    background-size: 135%;
    background-position: -67px 100px;
    border: 4px solid #80fefe;
}

.projects:hover h1{
    transform: scale(1.1);
    color: #80fefe; /* or try #66fcf1 or #a0fefe */
}

.projects h1 {
    transition: transform 0.4s ease-in-out, color 0.8s;
    text-align: center;
    font-size: 4.5rem;
    color: white;
}

.card-wrapper {
  display: flex;
  width: 30%;
  text-decoration: none;
}

@media (max-width: 768px)  {
    .card-wrapper {
        display: block;
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
    }   
}

@media (max-width: 480px) {
    .projects {
        height: 500px;
        background-size: 125%;
        background-position: -37px 120px;
    }

    .projects h1 {
        font-size: 3.7rem;
    }

    .projects:hover {
        background-size: 130%;
        background-position: -45px 120px;
        border: 4px solid #80fefe;
    }
}

/*Phones Landscape view*/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .projects {
        height: 500px;
        background-size:90%; 
        background-position: 35px -40px;
    }

    .projects h1 {
        font-size: 3.7rem;
    }

    .projects:hover {
        background-size:95%;
        background-position: 25px -40px;
        border: 4px solid #80fefe;
    }
}