@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kalam:wght@400;700&family=Russo+One&display=swap');

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projects {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Anta';
    background-image: url("../animations/club_projects.png");
    background-repeat: no-repeat;
    background-color: #8A6B77;
    background-size: contain;
    background-position: center bottom;
    transition: transform 0.4s ease, color 0.4s;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid white;
    animation: fade-up 1s;
}

.projects:hover {
    border: 4px solid #80fefe;
    transform: scale(1.02);
}

.projects:hover h1{
    transform: scale(1.02);
    color: #80fefe;
}

.projects h1 {
    transition: transform 0.4s ease, color 0.4s;
    text-align: center;
    font-size: 4.5rem;
    color: white;
}

@media (max-width: 480px) {
    .projects {
        height: 500px;
    }

    .projects h1 {
        font-size: 3.7rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .projects {
        height: 500px;
    }

    .projects h1 {
        font-size: 3.7rem;
    }
}